<article data-scope="tweet">
  <hr>
  <header data-scope="user">
    <img src="http://placehold.it/50x50" data-prop="profile-image">
    <span data-prop="name">Author Name</span> - @<span data-prop="screen-name">handle</span>
  </header>
  <p data-prop="text">The tweet text goes here</p>
  <a href="/tweets/show" data-prop="link">Details</a>
</article>

<article data-scope="tweet" data-prototype>
  <hr>
  <header data-scope="user">
    <img src="http://placehold.it/50x50" data-prop="profile-image">
    <span data-prop="name">Another Author</span> - @<span data-prop="screen-name">otherHandle</span>
  </header>
  <p data-prop="text">Another tweet</p>
  <a href="/tweets/show" data-prop="link">Details</a>
</article>

<article data-scope="tweet" data-prototype>
  <hr>
  <header data-scope="user">
    <img src="http://placehold.it/50x50" data-prop="profile-image">
    <span data-prop="name">Last One</span> - @<span data-prop="screen-name">alwaysLast</span>
  </header>
  <p data-prop="text">The final tweet</p>
  <a href="/tweets/show" data-prop="link">Details</a>
</article>
